body {
  width: 98%;
}

.scrollit {
  /* overflow:scroll; */
  height: 85%;
}

#score_table {
  table-layout: fixed; 
  width: 100%;
}

#score_table td {
  width: 25%;
}

.buttonteam {
  width:100%;
}

.placer {
  border-style: solid;
  border-width: 1px;
  border-color:black;
  text-align: center;
}

.scoreteam {
  color: black;
  font-weight: bolder;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

footer p {
  text-align: center;
}

/* --------- settings ------------------------ */

/* The settings form - hidden by default */
.settingsScreen {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  background-color: white;

  border: 3px solid #f1f1f1;
  z-index: 9;
}

.settingsScreen h1 {
  text-align: center;
}

.settingsScreen .btn {
  background-color: #4CAF50;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color:black;
  text-align: center;
  cursor: pointer;
  width: 100px;
  opacity: 0.8;
  margin-right: 50px;
  float: right;
}

.settingsScreen .settingsCancel {
  background-color: rgb(155, 146, 146);
}

/* Add some hover effects to buttons */
.settingsScreen .btn:hover, .open-button:hover {
  opacity: 1;
}

.settingsScreen img {
  width: 30px;
  height: 30px;
  padding: 10px;
}

.settingsTeams .teamName {
  margin-left: 10px;
  margin-right: 10px;
  width: 250px;
}

.middle > * {
  vertical-align: middle;
}

/* --------- accept cookies ------------------------ */

/* The accept cookies form - hidden by default */
.cookiesScreen {
  display: none;
  overflow:auto;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  background-color: white;

  border: 3px solid #f1f1f1;
  z-index: 9;
}

.cookiesScreen h1 {
  text-align: center;
}

.cookiesScreen img {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;  
}

.cookiesScreen .btn {
  background-color: #4CAF50;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color:black;
  text-align: center;
  cursor: pointer;
  width: 75%;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
}

.cookiesScreen h3 {
  width: 90%;
}

.cookiesScreen p {
  width: 90%;
}

.cookiesScreen li {
  width: 80%;
}

/* --------- help screens ------------------------ */

/* The help form - hidden by default */
.helpScreen1 {
  display: none;
  overflow:auto;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  background-color: white;

  border: 3px solid #f1f1f1;
  z-index: 9;
}

.helpScreen1 h1 {
  text-align: center;
}

.helpScreen1 img {
  padding: 10px;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  border:1px solid black;
  border-color: black;
}

.helpScreen1 .btn {
  background-color: #4CAF50;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color:black;
  text-align: center;
  cursor: pointer;
  width: 75%;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
}
