body {
  width: 98%;
}

.scrollit {
  /* overflow:scroll; */
  height: 85%;
}

#score_table {
  width: 100%;
}

#score_table td {
  width: 25%;
}

.placer {
  border-style: solid;
  border-width: 1px;
  border-color:black;
  text-align: center;
}

p {
  color: black;
  font-weight: bolder;
}

.float-right {
  float: right;
}

/* --------- settings ------------------------ */

/* The settings form - hidden by default */
.settings {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  background-color: white;

  border: 3px solid #f1f1f1;
  z-index: 9;
}

.settings h1 {
  text-align: center;
}

.settings .btn {
  background-color: #4CAF50;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color:black;
  text-align: center;
  cursor: pointer;
  width: 100px;
  opacity: 0.8;
  margin-right: 50px;
  float: right;
}

.settings .settingsCancel {
  background-color: rgb(155, 146, 146);
}

/* Add some hover effects to buttons */
.settings .btn:hover, .open-button:hover {
  opacity: 1;
}

.settings img {
  width: 30px;
  height: 30px;
  padding: 10px;
}

.settingsTeams .teamName {
  margin-left: 10px;
  margin-right: 10px;
  width: 250px;
}

.middle > * {
  vertical-align: middle;
}